@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@keyframes transitionIn {
	from{
		opacity:0;
		transform:rotateX(-10deg);
	}
	
	to {
		opacity:1;
		transform:rotateX(0);
	}
}

:root {
  --darkgreen: #2b6777;
  --lightblue:#c8d8e4;
  --white: #ffffff;
  --lightgrey:#f2f2f2;
  --lightgreen:#52ab98;
  --fadedgreen:#4F96A9;
}

.closeSidebar:hover{
	opacity: 0.5;
}

.linkContainerSideBar{
	height: 100%;
	top:0;
	left:0;
	width: 200px;
	z-index: 1;
	overflow-x: hidden;
    background-color: #2b6777;
    transition: 0.5s;
    position: fixed;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarLinks {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.sidebarHeader{
	display: flex;
	justify-content: center;
}

.sidebarHeader img {
	width: 150px;
}

p#sidebarHeader{
	color: white;
	padding: 10px;
}

i {
	min-width: 25px;
}

.dashboard{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	background-color: white;
	padding: 20px;
	margin-left: 20px;
}

.user{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-left: 20px;
}

.logout{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-top: auto;
}

.transactions{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: center;
	padding: 20px;
	margin-left: 20px;
}

body{
	font-family: "Nunito Sans", sans-serif;
	min-width: 500px;
}

header {
	background-color: var(--darkgreen);
	padding-top:0px;
	margin:0px;
}

a#dashboard {
	color: black;
	text-decoration:none;
	padding: 10px;
}

a#user {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#profile {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#accounts {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#logout {
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#cards{
	color: white;
	text-decoration:none;
	padding: 10px;
}

a#transactions {
	color: white;
	text-decoration:none;
	padding: 10px;
}

.mainPage{
	transition: margin-left .5s;
	margin-left: 200px;
	padding: 10px;
	padding-top: 5px;
}


.summary-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
    animation:transitionIn 0.75s;
}

.accounts-summary,
.cards-summary {
    flex: 1 1 35%;
    min-width: 300px;
    padding: 20px;
  	border-radius: 10px;
  	background-color: var(--lightgrey);
}

.account-details, .card-details {
    display: flex;
    text-align: left;
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    margin-bottom: 5px;
}

.details-account-name, 
.details-account-number,
.details-card-type,
.details-card-number{
	padding-left: 15px;
} 


.details-account-name p,
.details-card-type p {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}

.details-account-number p,
.details-card-number p {
	margin-top: 0px;
	margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
}

.details-card-limit p,
.details-card-amount p,
.details-account-balance p {
    display: inline;
}

.details-card-limit,
.details-card-amount, 
.details-account-balance {
    text-align: right;
    padding-right: 15px;
}

.openSidebar{
	color: white;
	border:none;
	background-color: var(--darkgreen);
	padding: 15px;
	border-radius: 15px;
}

.openSidebar:hover{
	opacity: 0.6;
}